apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: payment-service
  namespace: argocd
  labels:
    app: payment-service
    environment: production
  annotations:
    backstage.io/kubernetes-id: payment-service
    openchoreo.io/managed: "true"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    # ใช้ local path ก่อน แล้วค่อยเปลี่ยนเป็น GitHub repo ทีหลัง
    repoURL: https://github.com/tossapol-rit/payment-service-gitops.git
    targetRevision: main
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: payment-service
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
